* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
}

.reklama {
    height: 50px;
    // padding: 5px 0px 1px 0px;


    li {
        padding: 10px 10px 16px 10px;
        display: inline-block;
    }

    li:hover {
        background-color: rgb(67, 67, 67);
        transition: 0.3s;
    }
}

.logo_bar {
    .active {
        color: black;
        border-bottom: 2px solid black;
    }

    .active:hover {
        color: rgb(170, 170, 170);
        transition: 0.5s;
    }

    li {
        display: inline-block;
        margin-left: 10px;

        a {
            color: rgb(170, 170, 170);
            text-decoration: none;
        }

        a:hover {
            color: black;
            transition: 0.5s;
        }
    }

    img {
        margin-left: 230px;
    }
}

.navbar {
    li {
        display: inline-block;
        margin-left: 5px;

        a {
            text-decoration: none;
            color: black;
        }
    }
}

// section 1 //

swiper-container {
    width: 98%;
    height: 650px;
    margin-top: 20px;
}

swiper-container:hover {
    opacity: 0.7;
    transition: 0.5s;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

     img {
        display: block;
        width: 95%;
        height: 570px;
        margin-top: -120px;
        margin-left: -600px;
    }

    .text{
        margin-bottom: -500px;
        margin-left: -899px;
    }

    .text2{
        margin-bottom: -550px;
        margin-left: -350px;
    }
}