* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
}

.reklama {
    height: 50px;
    // padding: 5px 0px 1px 0px;


    li {
        padding: 10px 10px 16px 10px;
        display: inline-block;
    }

    li:hover {
        background-color: rgb(67, 67, 67);
        transition: 0.3s;
    }
}

.logo_bar {
    .active {
        color: black;
        border-bottom: 2px solid black;
    }

    .active:hover {
        color: rgb(170, 170, 170);
        transition: 0.5s;
    }

    li {
        display: inline-block;
        margin-left: 10px;

        a {
            color: rgb(170, 170, 170);
            text-decoration: none;
        }

        a:hover {
            color: black;
            transition: 0.5s;
        }
    }

    img {
        margin-left: 230px;
    }
}

.navbar {
    li {
        display: inline-block;
        margin-left: 5px;

        a {
            text-decoration: none;
            color: black;
        }
    }
}

// section 1 //

.swiper-container1 {
    width: 98%;
    height: 650px;
    margin-top: 20px;


    .swiper-container1:hover {
        opacity: 0.7;
        transition: 0.5s;
    }

    swiper-slide {
        text-align: center;
        font-size: 18px;
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            width: 95%;
            height: 570px;
            margin-top: -120px;
            margin-left: -600px;
        }

        .text {
            margin-bottom: -500px;
            margin-left: -899px;
        }

        .text2 {
            margin-bottom: -550px;
            margin-left: -350px;
        }
    }
}

//section 2//

.sec2 {
    h1 {
        margin-left: 50px;
    }

    .col {
        background-color: #f6f6f6;
        margin-left: 50px;
        margin-top: 20px;
    }
}

// section 4 //

.sec4 {
    margin-top: 40px;

    h1 {
        margin-left: 40px;
    }

    .sec4_ul {
        li {
            display: inline-block;
            border-radius: 50px;
            padding: 5px 7px 5px 7px;
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            margin-left: 10px;

            a {
                color: black;
                text-decoration: none;
            }
        }
    }

    .swiper-container2 {
        width: 100%;
        height: 100%;


        swiper-slide {
            text-align: start;
            width: 300px;
            justify-content: start;
            font-size: 18px;
            height: 510px;
            background: #fff;
            display: flex;
            align-items: center;
        }

        i {
            z-index: 2;
            color: black;
            margin-bottom: -500px;
            margin-left: -280px;
        }

        .span2 {
            z-index: 2;
            color: black;
            margin-bottom: -500px;
            margin-left: 10px;
        }

        .logo {
            width: 45px;
            float: left;
            display: block;
            margin-top: -450px;
        }

        .span1 {
            margin-top: -450px;
            margin-right: -250px;
        }

        .big_img {
            margin-bottom: -40px;
        }
    }
}

// section 6 //

.swiper-container3 {
    width: 100%;
    height: 100%;

    swiper-slide {
        text-align: center;
        display: block;
        height: 300px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 50%;
        }

        del{
            margin-bottom: -200px;
        }
    }
}